.ridge1 {
    border-style:solid;
    width: 90px;
    height:50px;
    color:white;
    text-align:center;
    background-color:red;
}
.ridge2 {
    border-style:solid;
    width: 90px;
    height:50px;
    color:white;
    text-align:center;
    background-color:blue;
}
.ridge3 {
    border-style:solid;
    width: 90px;
    height:50px;
    color:white;
    text-align:center;
    background-color:green;
}
