html {
    font-family: Arial, Helvetica, sans-serif;
 #example1 {
        border: 2px solid rgb(52, 44, 47);
        padding: 10px;
        border-radius: 25px;
        .style1
        li:hover {
            color: rgb(75, 140, 237);