html {
    font-family: Roboto Slab , serif ;
    
}


h1{

color:rgb(19,151,151)
}
h2{
    background-color: rgb(19, 151, 151);
    color: hsl(80, 100%, 99%);
  
}
.doan1{
    line-height: 20px;
    font-size: 12px;
    font-weight: 10;
;

}
.doan1{
    li:hover {
        color: rgb(228, 228, 19);
      }
      #rectangle {
        width: 200px;
        height: 100px;
        background: red;
    }
}
.doan2
{
    background-color: rgb(194, 186, 186);
    text-align:center;
    

}
.doan2 p{
    color: rgb(66, 68%, 189%);
}

}